/*Christopher Ramos*/


/*Default fonts for Header1 and paragraphs*/
h1 {  font-family: Copperplate / Copperplate Gothic Light, sans-serif; } 
h2 {  font-family: Copperplate / Copperplate Gothic Light, sans-serif; }
p {  font-family: Copperplate / Copperplate Gothic Light, sans-serif; }
table {  font-family: Copperplate / Copperplate Gothic Light, sans-serif; }
hr { /*Thinner horizontal line*/
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-style: inset;
    border-width: .5px;
}

body { background-image: linear-gradient(to bottom right, #304352, #d7d2cc); /*Linear gradient background*/

  margin: 0;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.topnav { /*Fixed top menu bar*/
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top:0;
  width: 100%;
}

.topnav a { /*Hyperlinks*/
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { /*Hover effect*/
  background-color: #ddd;
  color: black;
}

.topnav a.active { /*Changes color for hover effect*/
  background-color: #001399; /*Blue Home button*/
  color: white;
}

.navbar { /*Fixed bottom social media links*/
  display:block;
  background-color: #333;
  position:fixed;
  bottom: 0;
  width: 100%;
}

.navbar a { /*Hyperlinks*/
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover { /*Hover effect*/
  background: #f1f1f1;
  color: black;
}

.navbar a.active { /*Change color for hover effect*/
  background-color: #4CAF50;
  color: white;
}


.column { /*Centered div columns*/
  float: center;
  width:33.33%;
  padding: 10px;
  
}

.bold { /*Menu items in bold*/
	font-weight:bold;
	font-family:arial;
}

.description { /*Menu descriptions in italic*/
  font-style: italic;
  font-weight: normal;
  font-size: .9em;
  line-height: 1.5em;
}



